.settings {
  display: flex;
  min-height: 0;
  /* height: 660px;
  max-height: 100%; */
  /* flex-direction: column;
  flex: 1; */
  overflow: auto;
}
.fields {
  display: grid;
  gap: 30px;
  padding: 8px;
}
.group {
  display: grid;
  gap: 10px;
}
.choices {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.choices button {
  padding-inline: 12px;
}
.footer {
  position: sticky;
  bottom: -20px;
  z-index: 2;
  display: grid;
  gap: 4px;
  padding: 16px 0 12px;
  background: var(--color-surface);
  width: 100%;
}
@media (--mobile) {
  .footer {
    bottom: -22px;
    padding-bottom: 16px;
  }
}
